@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100%;
  margin: 24px;
}
nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.logo {
  width: 100px;
  height: 100px;
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding-right: 24px;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 12px;
  color: black;
}
header {
  height: 500px;
}
header {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.header_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
h1 {
    margin: 0 0 16px 0;
}
p {
    line-height: 24px;
    font-size: 18px;
}